language: r
warnings_are_errors: true
sudo: true

r:
  - oldrel
  - release
  - devel

r_binary_packages:
  - rgdal
  - sp
  - rgeos

notifications:
  email:
    on_success: change
    on_failure: change

r_github_packages:
  - jimhester/covr

after_success:
  - Rscript -e 'library(covr); coveralls()'